:root {
    --dark-gs-color: #131313;
    --light-gs-color: #ffffff;
    --hightlight-gs-color: yellow;
}

a{
    color: var(--light-gs-color);
    text-decoration: none;
}

a:visited, a:hover, a:active, a:focus{
    color: var(--hightlight-gs-color);
}

footer .social > a:hover {
    color: var(--hightlight-gs-color);
    opacity: 0.9;
}

body{
    color: var(--light-gs-color);
}

.pageBG{
    background: url("/img/AbstractSpheres.png");
    background-size: cover;

}
.glass-cf-style {
    color: var(--light-gs-color);
    backdrop-filter: blur(15px);
    background-color: rgba(153,223, 255, 0.17);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
}
.glass-cf-style.darkGlass{
    color: var(--light-gs-color) !important;
}
    .glass-cf-style.lightGlass {
        color: var(--dark-gs-color) !important;
    }
.glass-button {
    color: var(--hightlight-gs-color);
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    border-radius: 7px;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
}

.glass-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: var(--formfocusColor);
    border: 1px solid var(--hightlight-gs-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--formfocusShadow);
    outline: 0 none;
}
/* custom icon styles*/
.bi-pencil-fill {
    font-size: 1.5rem !important;
    color: greenyellow !important;
}
.bi-person-fill {
   font-size: 1.5rem !important; 
   color: mediumpurple !important;
}
.bi-trash-fill {
    font-size: 1.5rem !important;
    color: red !important;
}
.bi-card-list {
    font-size: 1.5rem !important;
    color: deeppink !important;
}