@model WonderAddressBookMVC_.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12  m-4 d-flex justify-content-sm-start justify-content-md-center">

        <form class="  glass-cf-style p-4" asp-action="Create" Method="POST" enctype="multipart/form-data">
            <h1 class=" mt-3 d-flex justify-content-sm-start justify-content-md-center">CREATE NEW CATEGORY</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="w-100 mt-3 btn btn-lg glass-button" />
            </div>
            <div class="mt-2">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
