@model WonderAddressBookMVC_.Models.CustomError

@{
    ViewData["Title"] = "Error";
}
<main class="content" id="mainHero">
    <section class="container">
        <div class="d-flex flex-column justify-content-center">
            <div class="row row-cols-1">
                <div class="col text-center">
                    @*  //select an image*@
                    <img src="img/black_book_pro_logo_510.png" alt="Page not found" class="img-fluid" />
                </div>
                <div class="col text-center display-5 my-3 fw-bold">@Model.code</div>
                <div class="col text-center h4">
                    @Model.message
                </div>
                <div class="col text-center mt-3">
                    <input type="button" onclick="history.go(-1)" class="btn btn-primary btn-lg rounded-pill">
                    Return to previous page</span>

                    </a>
                </div>
            </div>
        </div>
    </section>
</main>